@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* Primary */
    --scissors-gradient: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    --paper-gradient: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    --rock-gradient: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    --lizard-gradient: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
    --cyan-gradient: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));

    /* Neutral */
    --dark-text: hsl(229, 25%, 31%);
    --score-text: hsl(229, 64%, 46%);
    --header-outline: hsl(217, 16%, 45%);
    --red-text: hsl(349, 71%, 52%);

    /* Background */
    --radial-gradient-background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: var(--radial-gradient-background);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

body {
    color: white;
    font-family: "Barlow Semi Condensed";
    max-width: 600px;
    margin: 0 auto;
}

.heading.h1 {
    font-size: 40px;
    font-weight: 400;
    display: block;
    letter-spacing: 1px;
    margin: 0 auto;
    text-align: center;
    /* visibility: hidden; */
    text-transform: uppercase;
}

.border {
    display: block;
    border-radius: 100%;
    padding: 20px;
    height: 180px;
    width: 180px;
    cursor: pointer;
    box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.75);
}

.icon {
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 30px;
    border-radius: 100%;
    box-shadow: inset 10px 5px 30px -10px rgba(0,0,0,0.75);
}

.border.rock {
    background: var(--rock-gradient);
}

.border.paper {
    background: var(--paper-gradient);
}

.border.scissors {
    background: var(--scissors-gradient);
}

.border {
    transition: all 0.3s ease-in-out;
}

/* Only apply hover state on non-touch devices */
@media (hover: hover) {
    #selection .border:hover {
        transform: scale(1.05);
        transition: all 0.3s ease-in-out;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 20px auto;
    border: 2px solid var(--header-outline);
    border-radius: 10px;
    max-width: 95%;
}

#score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    border: 1px solid var(--header-outline);
    color: var(--score-text);
    padding: 15px 40px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
}

#playerScore {
    color: var(--dark-text);
    font-size: 50px;
    font-weight: 700;
    letter-spacing:normal;
}

#mode {
    margin: 50px auto;
}

#mode button {
    display: block;
    margin: 20px auto 50px;
    background-color: transparent;
    color: white;
    font-size: 30px;
    font-weight: 500;
    width: 300px;
}

#mode button:hover {
    color: var(--red-text);
    background-color: white;
}

#selection {
    display: grid;
    padding: 0;
    max-width: 500px;
    margin: 30px auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    grid-template-areas: 
        "paper scissors"
        "rock rock";
    background-image: url(../images/bg-triangle.svg);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#selection .rock {
    grid-area: rock;
    justify-self: center;
}

#selection .paper {
    grid-area: paper;
    justify-self: center;
}

#selection .scissors {
    grid-area: scissors;
    justify-self: center;
}

#selected {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    text-align: center;
    margin: 30px auto;
}

#selected .heading {
    display: block;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 20px auto 30px;
}

#winLose {
    /* margin-top: 60px; */
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

#win, #lose {
    margin: 0 auto;
}

#againBtn, #rulesBtn, button {
    margin: 0 auto;
    padding: 10px 35px;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    border: 1px solid whitesmoke;
    cursor: pointer;
    font-size: 15px;
    font-family: "Barlow Semi Condensed";
    text-decoration: none;
}

#againBtn {
    background-color: rgb(255, 255, 255);
    color: var(--red-text);
}

#againBtn:hover {
    color: white;
    background-color: transparent;
}

#rulesBtn, #modeSelectBtn {
    display: block;
    background-color: transparent;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    width: 150px;
    text-align: center;
}

#rulesBtn:hover, #modeSelectBtn:hover {
    background-color: white;
    color: var(--red-text);
}

#rules {
    position: absolute;
    top: 70px;
    left: calc(50% - 184px);
    padding: 80px 30px 20px 30px;
    background-color: white;
    border: 1px solid var(--header-outline);
}

#rules span {
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: var(--dark-text);
    position: relative;
    top: -340px;
    left: 150px;
    cursor: pointer;
}

#rules span:hover {
    color: var(--red-text);
}

nav {
    display: grid;
    column-gap: 15px;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    position: absolute;
    bottom: 50px;
    left: 0;
}

.hide {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

.mobile {
    display: none;
}

@media screen and (max-width:520px) {

    .border{
        width: 150px;
        height: 150px;
        padding: 15px;
        margin: 0 auto;
    }

    .icon {
        padding: 25px;
    }

    #rules {
        padding: 80px 20px 20px 20px;
        left: calc(50% - 174px);
    }

    #selection {
        background-size: 55%;
    }

    nav {
        bottom: 15px;
    }

    .heading.h1 {
        font-size: 30px;
    }

    #playerChoice {
        grid-area: player;
    }

    #houseChoice {
        grid-area: house;
    }

    #winLose {
        grid-area: outcome;
    }

    #selected {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 180px;
        grid-template-areas: 
            "player house"
            "outcome outcome";
    }
    
}

@media screen and (max-width:620px) and (max-height:750px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: inline-block;
    }

    #rulesBtn, #modeSelectBtn {
        width: 45px;
        height: 45px;
        padding: 10px 10px 10px 12px;
        border-radius: 100%;
        font-size: 18px;
    }

    nav {
        grid-template-columns: 70px 70px;
        justify-content: space-between;
    }
}